<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Your Password</title>
  </head>
  <body>
    <h1><strong>UAVN System</strong></h1>
    <div class='article'>
      <h2>您的新密码</h2>
      <p>亲爱的 {{name}}: </p>
      <p>您的新密码是: <strong>{{password}}</strong></p>
      <p>我们强烈建议您在成功登陆后更改您的密码！</p>
      <p>感谢！</p>
    </div>
    <div class='article'>
      <h2>New Password</h2>
      <p>Dear {{name}},</p>
      <p>Your new password is: <strong>{{password}}</strong></p>
      <p>We strongly recommend that you change your password after successfully logging in.</p>
      <p>Thank you!</p>
    </div>
  </body>
  <style>
    .article { margin: 3rem 0; }
  </style>
</html>